<app-socket-connection-status-bar>{{ 'LOADING' | translate }} socket connection status bar </app-socket-connection-status-bar>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<app-header [menuHeaderItems]="menuHeaderItems">{{ 'LOADING' | translate }} header...</app-header>

		<div *ngIf="!bLoggedIn == false">
			<app-menu-aside [links]="menuSidebarItems">{{ 'LOADING' | translate }} menu...</app-menu-aside>
		</div>

		<authentication-widget></authentication-widget>

		<template #LayoutAuthenticatedComponentViewViewChild></template>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper" [style.margin-left]="getContentWrapperStyle()">
			<!-- Content Header (Page header) -->
			<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
			<app-breadcrumb></app-breadcrumb>

			<!-- Main content -->
			<section class="content">
				<div class="box box-default">
					<div class="box-body">
						<router-outlet></router-outlet>
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<app-footer>{{ 'LOADING' | translate }} footer...</app-footer>
		<app-aside>{{ 'LOADING' | translate }} control sidebar...</app-aside>
	</div>
	<!-- ./wrapper -->
</body>
