<body class="hold-transition login-page">
  <div class="login-box" >
    <div class="login-logo">
      <a href="../../index2.html"><b>SkyHub</b>2</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form (submit)="login()" >

        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email or Username" required minlength="6" name="emailInput" [(ngModel)]="sEmailUserName" #emailInput="ngModel">
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback">
          <input type="password" class="form-control" placeholder="Password" required minlength="6" name="passwordInput" [(ngModel)]="sPassword" #passwordInput="ngModel">
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <div class="col-xs-8">
            <div class="checkbox checkbox-primary" style="margin-left: 20px;">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="login()" >Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center">
        <p>- OR -</p>

        <div class="text-center">
          <a href="#" class="btn btn-social-icon btn-facebook "><i class="fa fa-facebook"></i> </a>
          <a href="#" class="btn btn-social-icon btn-google "><i class="fa fa-google-plus"></i></a>
        </div>

      </div>

      <a href="#">I forgot my password</a><br>
      <a routerLink="/register" class="text-center">Register a new membership</a>

    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</body>
